<?xml version="1.0"?>
<launch>

    <arg name="map_file" default="$(find ired_navigation)/maps/map.yaml"/>
    <arg name="move_forward_only" default="false"/>
    
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    
    <include file="$(find ired_navigation)/launch/amcl.launch"/>
    
    <include file="$(find ired_navigation)/launch/move_base.launch">
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

</launch>